# Secrets
secrets.yaml

# Bases de données et logs
*.log
*.log.*
*.db
*.db-*
home-assistant_v2.db*

# Dossiers système / cache régénérables
.cache/
.cloud/
.storage/
image/
tts/
deps/
tmp/
www/community/

# Divers
*.pid
.uuid
.ha_run.lock
